<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duan.duan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DCZ_application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DCZ_activity.WelcomeActivity" />
        <activity android:name=".DCZ_activity.LoginActivity" />
        <activity android:name=".DCZ_activity.EncryptedActivity" />
        <activity android:name=".DCZ_activity.FootprintsActivity" />
        <activity android:name=".DCZ_activity.CurrentPhoneActivity" />
        <activity android:name=".DCZ_activity.ChangePhone1Activity" />
        <activity android:name=".DCZ_activity.ChangePhone2Activity" />
        <activity android:name=".DCZ_activity.ChangePhone3Activity" />
        <activity android:name=".DCZ_activity.ChangePhone4Activity" />
        <activity android:name=".DCZ_activity.ChangeLoginPasswordActivity" />
        <activity android:name=".DCZ_activity.ChangePayPasswordActivity" />
        <activity android:name=".DCZ_activity.SecurityProtectActivity" />
        <activity android:name=".DCZ_activity.ScanActivity" />
        <activity android:name=".DCZ_activity.WalletProtectActivity" />
        <activity android:name=".DCZ_activity.ShopProtectActivity" />
        <activity android:name=".DCZ_activity.ChangeProtectActivity"></activity>
    </application>

</manifest>