<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duan.duan">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 内存卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".DCZ_application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DCZ_activity.WelcomeActivity" />
        <activity android:name=".DCZ_activity.LoginActivity" />
        <activity android:name=".DCZ_activity.EncryptedActivity" />
        <activity android:name=".DCZ_activity.FootprintsActivity" />
        <activity android:name=".DCZ_activity.CurrentPhoneActivity" />
        <activity android:name=".DCZ_activity.ChangePhone1Activity" />
        <activity android:name=".DCZ_activity.ChangePhone2Activity" />
        <activity android:name=".DCZ_activity.ChangePhone3Activity" />
        <activity android:name=".DCZ_activity.ChangePhone4Activity" />
        <activity android:name=".DCZ_activity.ChangeLoginPasswordActivity" />
        <activity android:name=".DCZ_activity.ChangePayPasswordActivity" />
        <activity android:name=".DCZ_activity.SecurityProtectActivity" />
        <activity android:name=".DCZ_activity.ScanActivity" />
        <activity android:name=".DCZ_activity.WalletProtectActivity" />
        <activity android:name=".DCZ_activity.ShopProtectActivity" />
        <activity android:name=".DCZ_activity.ChangeProtectActivity" />
        <activity android:name=".DCZ_activity.GameProtectActivity" />
        <activity android:name=".DCZ_activity.OperationRecordActivity" />
        <activity android:name=".DCZ_activity.EquipmentManageActivity" />
        <activity android:name=".DCZ_activity.GesturesLockActivity" />
        <activity android:name=".DCZ_activity.FingerprinProtectActivity" />
        <activity android:name=".DCZ_activity.FaceKnowActivity" />
        <activity android:name=".DCZ_activity.FaceCollectActivity" />
        <activity android:name=".DCZ_activity.HaveActivity" />
        <activity android:name=".DCZ_activity.ChangePhoneActivity" />
        <activity android:name=".DCZ_activity.SettingPasswordActivity"></activity>
    </application>

</manifest>